<div class="dialog-content">
  <h3 class="dialog-title">
    {{ title }}
  </h3>
  <form [formGroup]="propertyForm">
    <div class="form-row">
      <label class="form-label" for="name">Name:</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="name"
      />
    </div>
    <div class="form-row">
      <label class="form-label" for="description">Description</label>
      <textarea
        id="description"
        cols="50"
        rows="20"
        class="form-control textarea-control"
        formControlName="description"
      ></textarea>
      <span
        *ngIf="propertyForm.get('description')?.errors"
      >
        Description is required
      </span>
    </div>
    <div class="button-wrapper">
      <button
        type="button"
        mat-raised-button
        class="bg-lightgreen"
        data-qa=save-dialog-button
        (click)="save()"
        [disabled]="propertyForm.invalid"
      >
        Save
      </button>
      <button
        type="button"
        mat-raised-button
        color="warn"
        (click)="close()"
        data-qa="close-dialog-button"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
