.dialog-content {
  width: 400px;
  padding-right: 24px;

  .title {
    text-align: center;
    font-size: 30px;
  }
  .form-row {
    margin-bottom: 10px;
    .form-control {
      width: 100%;
      border: 1px solid black;
      background-color: #e1e1e1;
      height: 40px;
      border-radius: 10px;
      font-size: 20px;
      padding: 0 10px;
      margin-top: 5px;
    }
    .textarea-control {
      height: 140px;
      resize: none;
      padding: 10px;
    }
  }

  .button-wrapper {
    justify-content: space-around;
    display: flex;
    .bg-lightgreen {
      background-color: lightgreen;
    }
  }
}
