.mat-list-item {
  color: black;
  margin: 10px 0;
  border: 1px solid black;
  font-size: 24px;
  padding: 15px;
}

.button-wrapper {
  button {
    margin-right: 10px;
  }
}

::ng-deep .mat-list-item-content {
  justify-content: space-between;
}
