<mat-list-item>
  <h4 data-qa="property-name">
    {{ property.name }}
  </h4>
  <div class="button-wrapper">
    <button
      mat-raised-button
      color="primary"
      (click)="updateProperty()"
      class="mr--15"
      data-qa="update-property-button"
    >
      Edit
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="removeProperty()"
      data-qa="remove-property-button"
    >
      Remove
    </button>
  </div>
</mat-list-item>
