.dialog-content {
  width: 300px;
  padding-right: 24px;
  .dialog-title {
    text-align: center;
    font-size: 30px;
  }
  .title {
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
  }
  .button-wrapper {
    justify-content: space-around;
    display: flex;
    .bg-lightgreen {
      background-color: lightgreen;
    }
  }
}
