<div class="dialog-content">
  <h3 class="dialog-title">Remove property: {{ data?.property.name }}</h3>
  <div class="title">
    <p>
      Are you sure you want to remove <span>{{ data?.property.name }}</span
      >?
    </p>
  </div>
  <div class="button-wrapper">
    <button
      type="button"
      mat-raised-button
      color="warn"
      data-qa="close-dialog-button"
      (click)="close()"
    >
      Cancel
    </button>
    <button
      type="button"
      mat-raised-button
      class="bg-lightgreen"
      data-qa="remove-property-button"
      (click)="remove()"
    >
      Delete
    </button>
  </div>
</div>
