<div class="content-container">
  <div class="button-wrapper">
    <button
      mat-raised-button
      color="accent"
      (click)="createProperty()"
      data-qa="create-button"
    >
      Create property
    </button>
  </div>
  <mat-list>
    <lop-property
      data-qa="property-component"
      *ngFor="let property of (properties$ | async)?.properties"
      [property]="property"
    ></lop-property>
  </mat-list>
</div>
